.homeContainer {
    display: block;
    background: darkgray;
    box-sizing: border-box;
    border: solid black 2px;
    width: 100vw;
    height: 100%;
}
.header{
    background: antiquewhite;
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    margin: 0;
}
.content{
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    margin: 0;
    height: 100%;
    & .line {
        padding: 0.2rem 0;
        border-bottom: black 1px solid;
    }
}
.footer{
    background: cadetblue;
    min-height: 1rem;
    box-sizing: border-box;
    flex-grow: 1;
}
.line{
    display: flex;
    justify-content: center;
}
.container{
    background: red;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}