.background {
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}
.container{
    gap: 1rem;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    display: flex;
    background: white;
    width: 20rem;
    min-height: 15rem;
}
