.dashboard {
    display: flex;
    border: solid black 2px;
    width: 50vw;
    height: auto;
    flex-direction: column;
}
.header{
    background: antiquewhite;
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    margin: 0;
}
.content{
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    margin: 0;
    height: 100%;
    & .line {
        padding: 0.2rem 0;
        border-bottom: black 1px solid;
    }
}
.footer{
    background: cadetblue;
    min-height: 1rem;
    box-sizing: border-box;
    flex-grow: 1;
}
.line{
    display: flex;
    justify-content: center;
}
.container{
    box-sizing: border-box;
    overflow: hidden;
    width: 50vw;
    min-height: 30vh;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    border: solid grey 2px;
}